.nav-bar{
    height: 25px;
    background-color:whitesmoke;
}
.nav{
    list-style: none;
    color: gray;
    display: flex;  
}
.logo{
    font-size: 15px;
    flex: 1;
}
.nav-item{
    font-size: 10px;
    padding-top: 5px;
    margin-left: 25px;
}
.image{
    height: 300px;
    background-size: cover; 
    background-image: url('./assests/background.jpg');
    background-repeat: no-repeat;
}
.logo-text{
    color: white;
    text-align: center;
    padding-top: 80px;   
}
.card-top-first{
    background-color: #609057;
    margin-top: 15px;
    /* height: 120px; */
    color: white;
    text-align: center;
    padding: 10px;
}
.card-top-second{
    background-color: #324980;
    /* height: 120px; */
    margin-top: 15px;
    color: white;
    text-align: center;
    padding: 10px;
}
.card-top-third{
    background-color: black;
    /* height: 120px; */
    margin-top: 15px;
    color: white;
    text-align: center;
    padding: 10px;
}
.card-middle{
    background-color: #F7F7F7;
    border: 1px solid gray;
    text-align: center;
}
.card-bottom{
   border: 1px solid gray;
   text-align: center;
   padding: 10px;
}
button{
   margin: auto;
   border-radius: 10px; 
}
.paragraph{
    text-align: justify center;
    margin-top: 25px;
}
.cards p{
    margin: 5px;
}
.footer{
    background-color: black;
    border: 1px solid black;
    height: 100px;
    margin-top: 40px;
}
.footer p{
    color: white;
    text-align: center;
    margin-top: 40px;
}
